*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Segoe UI',sans-serif;
    background:#f4f6f9;
}

.wrapper{
    display:flex;
}

/* Sidebar */

.sidebar{
    width:260px;
    height:100vh;
    background:#111827;
    position:fixed;
    overflow-y:auto;
}

.logo{
    text-align:center;
    padding:25px;
    color:white;
    border-bottom:1px solid #2b3444;
}

.menu{
    list-style:none;
    padding:15px 0;
}

.menu li{
    margin:5px 0;
}

.menu li a{
    display:block;
    padding:14px 25px;
    color:white;
    text-decoration:none;
    transition:0.3s;
    font-size:15px;
}

.menu li a i{
    margin-right:12px;
}

.menu li a:hover{
    background:#0d6efd;
    padding-left:32px;
}

/* Main Content */

.main-content{
    margin-left:260px;
    width:100%;
    padding:25px;
}

/* Topbar */

.topbar{
    background:white;
    padding:18px 25px;
    border-radius:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 2px 10px rgba(0,0,0,0.08);
}

.top-icons{
    display:flex;
    align-items:center;
    gap:20px;
}

.notification-icon{
    position:relative;
    color:#111827;
    font-size:22px;
    text-decoration:none;
}

.profile-btn{
    color:#111827;
    text-decoration:none;
    font-weight:600;
}

/* Welcome */

.welcome-box{
    margin-top:25px;
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 2px 10px rgba(0,0,0,0.08);
}

.welcome-box h2{
    color:#111827;
}

/* Dashboard Cards */

.dashboard-card{
    background:white;
    padding:25px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 2px 10px rgba(0,0,0,0.08);
    transition:0.3s;
}

.dashboard-card:hover{
    transform:translateY(-5px);
}

.dashboard-card i{
    font-size:35px;
    color:#0d6efd;
    margin-bottom:10px;
}

.dashboard-card h4{
    margin-top:10px;
    font-weight:700;
}

/* Quick Cards */

.quick-card{
    background:white;
    border-radius:15px;
    padding:25px;
    text-align:center;
    box-shadow:0 2px 10px rgba(0,0,0,0.08);
}

.quick-card i{
    font-size:40px;
    color:#0d6efd;
    margin-bottom:15px;
}

.quick-card h5{
    margin-bottom:15px;
}

/* Responsive */

@media(max-width:768px){

    .sidebar{
        width:100%;
        height:auto;
        position:relative;
    }

    .main-content{
        margin-left:0;
    }

    .wrapper{
        flex-direction:column;
    }

}